fastapi==0.111.0
uvicorn[standard]==0.29.0; sys_platform != "win32"
uvicorn==0.29.0; sys_platform == "win32"
python-multipart==0.0.9
Jinja2==3.1.4
pydantic==2.7.4
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
PyJWT==2.8.0
aiofiles==23.2.1
SQLAlchemy==2.0.30
alembic==1.13.1
